.blog {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .blog--title,
  .blog--subtitle {
    text-align: center;
  }
  .blog--title {
    margin-bottom: 20px;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 50px;
  }
  .blog--subtitle {
    width: 75vw;

    margin: 0 auto 80px;

    font-family: "Quicksand", sans-serif;
    font-weight: 400;
  }
  .blog--articles {
    display: flex;
    justify-content: center;
    gap: 50px;
    .blog--article {
      width: auto;

      z-index: 4;

      flex-basis: 50%;
      flex-grow: 1;

      border: 2px solid #bf9773;
      border-radius: 30px;
      overflow: hidden;
      cursor: pointer;

      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      .blog-img-container {
        height: 200px;
        overflow: hidden;
        .blog--image {
          max-width: 100%;
          height: auto;
          min-height: 250px;
          object-fit: cover;
        }
      }
      .blog-article--title {
        padding-top: 20px;
        text-align: center;
        font-family: "Oswald", sans-serif;
      }
      .blog-article--pharagraph {
        padding: 10px 30px 30px 30px;

        font-family: "Quicksand", sans-serif;
        font-weight: 400;
      }
    }
    .blog--article:hover {
      scale: 1.05;
    }
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      .blog--article {
        max-width: 500px;
        .blog-img-container {
          height: auto;
        }
      }
    }
  }
  .all-articles-btn {
    height: 50px;
    width: max-content;
    margin: 40px auto 0 auto;
    padding: 13px;

    background-color: #bf9773;
    border-radius: 6px;

    font-weight: 600;
    font-size: 18px;
    color: white;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .all-articles-btn:hover {
    background-color: #dbb898;
  }
}
