.faq {
  padding-top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  .faq--title {
    margin-bottom: 20px;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 50px;

    text-align: center;
  }
  .faq--question-container,
  .faq--question-container-active {
    width: auto;
    height: auto;

    margin-bottom: 20px;
    padding: 10px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #f7f2eb;

    border-radius: 10px;

    cursor: pointer;

    .faq--drop-down,
    .faq--close {
      width: auto;
      max-height: 80%;
      max-width: 8%;
      margin-left: 20px;
    }
    .faq--close {
      transform: rotate(180deg);
      transition-duration: 0.2s;
    }
  }
  .faq--question-container-active {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .faq--answer-container {
    max-height: 0;
  }

  .faq--answer-container-active {
    max-height: 200px;
    margin-bottom: 20px;
    background-color: #f7f2eb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
  }
  .faq--answer {
    padding: 20px;
  }
}
