.to-top:hover .to-top-btn {
  scale: 1.2;
  opacity: 1;
}

.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 15px;
  cursor: pointer;
  opacity: 0.7;

  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  filter: invert(86%) sepia(10%) saturate(2300%) hue-rotate(331deg)
    brightness(72%) contrast(97%);
}
