.logoutpopup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  width: max-content;
  min-width: 300px;
  z-index: 5;

  border: solid 3px #bf9773;
  .logoutpopup--title {
    font-size: 40px;
    padding: 40px;
  }
}
