.new-blog {
  margin: 40px;
  .new-blog--main-title {
    margin-bottom: 20px;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 50px;

    text-align: center;
  }
  .new-blog--title-container,
  .new-blog--desc-container,
  .new-blog--img-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .new-blog--title,
    .new-blog--desc {
      margin-bottom: 30px;
      padding: 5px;

      border: 2px solid black;
    }
    .new-blog--title {
      width: 200px;
    }
    .new-blog--desc {
      width: 300px;
      height: 150px;
    }
  }
  .quill {
    .ql-editor {
      min-height: 300px;
    }
  }
  .save-blog-btn {
    display: block;

    min-width: 150px;
    min-height: 45px;

    margin: 30px auto;
    padding: 10px;

    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #bf9773;
    border-radius: 5px;

    text-align: center;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .save-blog-btn:hover {
    background-color: #dbb898;
  }
}
