.new-blog {
  margin: 40px;
  .new-blog--main-title {
    margin-bottom: 20px;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 50px;

    text-align: center;
  }
  .new-blog--title-container,
  .new-blog--desc-container,
  .new-blog--img-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    .new-blog--title,
    .new-blog--desc {
      width: 360px;

      padding: 5px;
      font-size: 18px;
      border: 2px solid black;
    }

    .new-blog--desc {
      height: 145px;
    }

    .new-blog--img {
      display: none;
    }
  }
  .new-blog--img-container {
    cursor: pointer;
    width: max-content;
    margin-bottom: 15px;
  }
  .img-preview {
    max-width: 200px;
    margin-bottom: 30px;
  }
  .quill {
    border: 2px solid black;
    .ql-editor {
      min-height: 300px;
    }
  }
  .save-blog-btn,
  .new-blog--img-container {
    display: block;

    padding: 10px;

    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;

    background-color: #bf9773;
    border-radius: 5px;

    text-align: center;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .save-blog-btn {
    min-width: 150px;
    min-height: 45px;

    margin: 30px auto;

    font-size: 18px;
  }
  .save-blog-btn:hover,
  .new-blog--img-container:hover {
    background-color: #dbb898;
  }
}
