.appointment {
  max-width: 960px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.appointment .appointment--title {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}
.appointment .appointment--change-week {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 23px;
}
.appointment .appointment--change-week .appointment--current-week-date {
  font-size: 22px;
}
.appointment .appointment--change-week .prev-week-btn,
.appointment .appointment--change-week .next-week-btn {
  min-width: 150px;
  min-height: 45px;
  padding: 10px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: #bf9773;
  border-radius: 5px;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.appointment .appointment--change-week .prev-week-btn:hover,
.appointment .appointment--change-week .next-week-btn:hover {
  background-color: #dbb898;
}
.appointment .appointment--change-week .prev-week-btn[disabled] {
  opacity: 60%;
  color: grey;
  background-color: lightgray;
  cursor: auto;
  border: 1px solid rgb(185, 183, 183);
}
.appointment .appointment--container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}
.appointment .appointment--container .appointment--fulldate {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}
.appointment .appointment--container .appointment--fulldate .appointment--month {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.appointment .appointment--container .appointment--fulldate .appointment--date {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.appointment .appointment--container .appointment--fulldate .appointment--day,
.appointment .appointment--container .appointment--fulldate .appointment--hours {
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.appointment .appointment--container .appointment--fulldate .appointment--hours {
  width: 60%;
  padding: 5px;
  background-color: white;
  border: 1px solid #bf9773;
  border-radius: 5px;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.appointment .appointment--container .appointment--fulldate .appointment--hours:hover {
  color: white;
  background-color: #bf9773;
}
.appointment .appointment--container .appointment--fulldate .appointment--hours[disabled] {
  opacity: 60%;
  color: grey;
  background-color: lightgray;
  cursor: default;
  pointer-events: none;
  border: 1px solid rgb(185, 183, 183);
}
.appointment .appointment--container .appointment--fulldate .admin-disable {
  opacity: 60%;
  color: grey;
  background-color: rgb(175, 174, 174);
  border: 1px solid rgb(185, 183, 183);
}
.appointment .appointment--container .appointment--fulldate:nth-child(odd) {
  background-color: #f7f2eb;
}
@media screen and (max-width: 865px) {
  .appointment .appointment--container {
    overflow-x: auto;
  }
  .appointment .appointment--container .appointment--fulldate {
    width: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .appointment {
    margin: 0 auto 30px auto;
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out;
  }
}
@media screen and (max-width: 980px) {
  .appointment {
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out;
  }
}
@media screen and (max-width: 865px) {
  .appointment {
    max-width: 800px;
  }
}
@media screen and (max-width: 800px) {
  .appointment {
    max-width: 560px;
    max-height: 1000px;
    transition: max-width, max-height 0.5s ease-in-out;
  }
  .appointment .appointment--change-week {
    align-items: center;
  }
  .appointment .appointment--change-week .appointment--current-week-date {
    max-width: 250px;
    text-align: center;
    font-size: 20px;
  }
  .appointment .appointment--change-week .prev-week-btn,
.appointment .appointment--change-week .next-week-btn {
    max-height: 50px;
    max-width: 80px;
  }
  .appointment .appointment--container {
    justify-content: flex-start;
    margin: auto;
  }
  .appointment .appointment--container .appointment--fulldate {
    min-width: 25%;
  }
  .appointment .admin-btns {
    flex-direction: column;
    align-items: center;
  }
}
.appointment .admin-btns {
  margin: 50px auto 0;
  display: flex;
  gap: 30px;
}
.appointment .admin-btns .admin-disable-selected-btn,
.appointment .admin-btns .admin-show-dates-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.appointment .admin-btns .admin-disable-selected-btn {
  background-color: #b5320b;
}
.appointment .admin-btns .admin-disable-selected-btn:hover {
  background-color: #882709;
}
.appointment .admin-btns .admin-disable-selected-btn[disabled] {
  opacity: 60%;
  color: grey;
  background-color: lightgray;
  cursor: auto;
}
.appointment .admin-btns .admin-show-dates-btn {
  background-color: green;
}
.appointment .admin-btns .admin-show-dates-btn:hover {
  background-color: rgb(4, 89, 4);
}
@media screen and (max-width: 455px) {
  .appointment .appointment--title {
    scale: 0.856;
    transition: scale 0.8s;
  }
}
@media screen and (max-width: 580px) {
  .appointment {
    margin: 0 30px;
  }
  .appointment .appointment--change-week {
    flex-direction: column;
  }
  .appointment .appointment--container .appointment--fulldate {
    min-width: 50%;
  }
}/*# sourceMappingURL=Appointment.css.map */