.all-articles {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-articles .all-articles--title {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}
.all-articles .blog--articles {
  margin: 0 11%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.all-articles .blog--articles .blog--article {
  width: auto;
  min-width: 250px;
  max-height: 500px;
  max-width: 300px;
  flex-basis: 50%;
  flex-grow: 1;
  margin-bottom: 40px;
  border: 2px solid #bf9773;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.all-articles .blog--articles .blog--article .blog-img-container {
  height: 200px;
  overflow: hidden;
}
.all-articles .blog--articles .blog--article .blog-img-container .blog--image {
  max-width: 100%;
  height: auto;
  min-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.all-articles .blog--articles .blog--article .blog-article--text {
  height: 250px;
  padding: 20px;
}
.all-articles .blog--articles .blog--article .blog-article--text .blog-article--title {
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.all-articles .blog--articles .blog--article .blog-article--text .blog-article--pharagraph {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
.all-articles .blog--articles .blog--article:hover {
  scale: 1.05;
}
@media screen and (max-width: 1100px) {
  .all-articles .blog--articles {
    justify-content: center;
  }
}
@media screen and (min-width: 1585px) {
  .all-articles {
    margin: 0 9%;
  }
}
.all-articles .pagination-btns {
  width: auto;
  height: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.all-articles .pagination-btns .prev-btn,
.all-articles .pagination-btns .next-btn,
.all-articles .pagination-btns .pagination-link {
  cursor: pointer;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #bf9773;
  border: 2px solid #bf9773;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.all-articles .pagination-btns .pagination-disabled .prev-btn,
.all-articles .pagination-btns .pagination-disabled .next-btn {
  cursor: default;
  padding: 10px;
  border-radius: 5px;
  opacity: 60%;
  color: grey;
  background-color: lightgray;
  border: 2px solid lightgray;
}
.all-articles .pagination-btns .pagination-active .pagination-link {
  background-color: #bf9773;
  color: white;
}
.all-articles .pagination-btns .prev-btn:hover:not(.pagination-disabled .prev-btn),
.all-articles .pagination-btns .next-btn:hover:not(.pagination-disabled .next-btn),
.all-articles .pagination-btns .pagination-link:hover:not(.pagination-active .pagination-link) {
  background-color: #bf9773;
  color: white;
}
@media screen and (min-width: 1585px) {
  .all-articles .pagination-btns {
    margin-bottom: 50px;
  }
}
.all-articles .new-article-btn {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-height: 45px;
  margin: 30px auto;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background-color: #bf9773;
  color: white;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.all-articles .new-article-btn:hover {
  background-color: #dbb898;
}/*# sourceMappingURL=AllArticles.css.map */